.navbar{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top:0;
    height: 10%;
    width: 100%;
}

.nav-enlace{
    float: left;
    margin-top: 16px;
    margin-left: 30px;
    background: white;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 8px;
    text-decoration: none;
}

.nav-enlace:hover{
    background-color: black;
    color: white;
    border-radius: 50px;
}

.icons{
    margin-left: 10px;
    padding: 8px 8px;
    width: 25px;
    margin-top: 15px;
}

.icons:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 100px;
}

.pinterest-logo{
    float:left;
    margin-top: 14px;
    margin-left: 10px;
    padding: 8px 8px;
    width: 25px;
}

.pinterest-logo:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 100px;
}

.search-box{
    float: left;
    margin-top: 17px;
    margin-left: 15px;
    background-color: rgb(227, 227, 227);
    height: 30px;
    width: 800px;
    border-radius: 50px;
}

main{
    margin-left: 30px;
    margin-top: 65px;
}

img{
    border-radius: 25px;
}